<h1>HTML5 Canvas Playground</h1>
<section style="border": 1px solid, width: 800px;, height: 600px;>
  <canvas id="myCanvas">
    not works
  </canvas>
</section>
<p>This is a canvas area end line.</p>
